<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Woloo.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<false/>
			<key>buildNumber</key>
			<string>21207</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>A75FE6A7B879942D663371E6C835733891E4B750</string>
				<key>dateExpires</key>
				<string>24/04/24</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>21207</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A75FE6A7B879942D663371E6C835733891E4B750</string>
						<key>dateExpires</key>
						<string>24/04/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Razorpay.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8872AY4GJ3</string>
						<key>name</key>
						<string>Amit Arondekar</string>
					</dict>
					<key>versionNumber</key>
					<string>2.12.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>21207</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A75FE6A7B879942D663371E6C835733891E4B750</string>
						<key>dateExpires</key>
						<string>24/04/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SmartPush.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8872AY4GJ3</string>
						<key>name</key>
						<string>Amit Arondekar</string>
					</dict>
					<key>versionNumber</key>
					<string>2.12.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>21207</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A75FE6A7B879942D663371E6C835733891E4B750</string>
						<key>dateExpires</key>
						<string>24/04/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Smartech.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8872AY4GJ3</string>
						<key>name</key>
						<string>Amit Arondekar</string>
					</dict>
					<key>versionNumber</key>
					<string>2.12.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>21207</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A75FE6A7B879942D663371E6C835733891E4B750</string>
						<key>dateExpires</key>
						<string>24/04/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>8872AY4GJ3.in.woloo.app.SmartechNCE</string>
						<key>aps-environment</key>
						<string>production</string>
						<key>beta-reports-active</key>
						<true/>
						<key>com.apple.developer.team-identifier</key>
						<string>8872AY4GJ3</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.com.Woloo</string>
						</array>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>SmartechNCE.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>821c1e59-0e1b-4640-9c06-5b235ab698b5</string>
						<key>dateExpires</key>
						<string>24/04/24</string>
						<key>name</key>
						<string>iOS Team Store Provisioning Profile: in.woloo.app.SmartechNCE</string>
					</dict>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8872AY4GJ3</string>
						<key>name</key>
						<string>Amit Arondekar</string>
					</dict>
					<key>versionNumber</key>
					<string>2.12.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>21207</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A75FE6A7B879942D663371E6C835733891E4B750</string>
						<key>dateExpires</key>
						<string>24/04/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>8872AY4GJ3.in.woloo.app.SmartechNSE</string>
						<key>aps-environment</key>
						<string>production</string>
						<key>beta-reports-active</key>
						<true/>
						<key>com.apple.developer.team-identifier</key>
						<string>8872AY4GJ3</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.com.Woloo</string>
						</array>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>SmartechNSE.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>a4676cc3-73de-43d5-8fa2-4621ff4b732b</string>
						<key>dateExpires</key>
						<string>24/04/24</string>
						<key>name</key>
						<string>iOS Team Store Provisioning Profile: in.woloo.app.SmartechNSE</string>
					</dict>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8872AY4GJ3</string>
						<key>name</key>
						<string>Amit Arondekar</string>
					</dict>
					<key>versionNumber</key>
					<string>2.12.3</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>8872AY4GJ3.in.woloo.app</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>applinks:woloo.page.link</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>8872AY4GJ3</string>
				<key>com.apple.security.application-groups</key>
				<array>
					<string>group.com.Woloo</string>
				</array>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array/>
			</dict>
			<key>name</key>
			<string>Woloo.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>c4a35176-3add-4d63-9be5-9adf4994f852</string>
				<key>dateExpires</key>
				<string>24/04/24</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: in.woloo.app</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>8872AY4GJ3</string>
				<key>name</key>
				<string>Amit Arondekar</string>
			</dict>
			<key>versionNumber</key>
			<string>2.12.3</string>
		</dict>
	</array>
</dict>
</plist>
