<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>App FirebaseDeepLinkPasteboardRetrievalEnabled</key>
	<string>NO</string>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>in.woloo.app</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Woloo</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleIcons</key>
	<dict/>
	<key>CFBundleIcons~ipad</key>
	<dict/>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string></string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>in.woloo.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb147717441546547</string>
				<string>woloo.page.link</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>in.woloo.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>woloo.page.link</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string></string>
			<key>CFBundleURLName</key>
			<string>in.woloo.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>woloo</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>in.woloo.app</string>
			<key>CFBundleURLSchemes</key>
			<array/>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FacebookAdvertiserIDCollectionEnabled</key>
	<true/>
	<key>FacebookAppID</key>
	<string>1856859768148609</string>
	<key>FacebookAutoLogAppEventsEnabled</key>
	<true/>
	<key>FacebookClientToken</key>
	<string>a9a39b0f53b1be34fa00530ff5cd1635</string>
	<key>FacebookCodelessDebugLogEnabled</key>
	<true/>
	<key>FacebookDisplayName</key>
	<string>Woloo</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>FirebaseAutomaticScreenReportingEnabled</key>
	<true/>
	<key>FirebaseDynamicLinksCustomDomains</key>
	<array>
		<string>https://woloo-44ef1.web.app/</string>
		<string>woloo.page.link</string>
	</array>
	<key>HanselKeys</key>
	<dict>
		<key>HanselAppId</key>
		<string>0OU6U2MZLY0JOMMPSP3PW988C</string>
		<key>HanselAppKey</key>
		<string>X0KQEM0321TQOE5IYO1LE9PQ7KQQ6DWTF967RK8V8PBMLFB6RS</string>
	</dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>whatsapp</string>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
		<string>paytmmp</string>
		<string>phonepe</string>
		<string>tez</string>
		<string>comgooglemaps</string>
		<string>comgooglemaps-x-callback</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Allow bluetooth to connect other devices.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Allow bluetooth to connect other devices.</string>
	<key>NSCameraUsageDescription</key>
	<string>Allows user to capture photos of yourself and scan QR code.</string>
	<key>NSContactsUsageDescription</key>
	<string>We need access to your contacts to share the invites. We will only use your contacts information for the purpose of sharing the invites and will neither share your information with any third-party nor store it anywhere.</string>
	<key>NSHumanReadableCopyright</key>
	<dict/>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>to get your nearest Woloos</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>to get your nearest Woloos</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>to get your nearest Woloos</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Allow photo access to capture and select images from library.</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>Allow tracking to locate Woloo host on the map.This data is used to personalize your app experience. You can change your preferences at any time in the settings.</string>
	<key>SmartechKeys</key>
	<dict>
		<key>SmartechAppGroup</key>
		<string>group.com.Woloo</string>
		<key>SmartechAppId</key>
		<string></string>
		<key>SmartechAutoFetchLocation</key>
		<true/>
		<key>SmartechUseAdvId</key>
		<false/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>MavenPro-Regular</string>
		<string>MavenPro-Medium</string>
		<string>MavenPro-SemiBold</string>
		<string>MavenPro-Bold</string>
		<string>OpenSans-Regular</string>
		<string>OpenSans-Light</string>
		<string>OpenSans-SemiBold</string>
		<string>OpenSans-Bold</string>
		<string>Poppins-Regular</string>
		<string>Poppins-Light</string>
		<string>Poppins-SemiBold</string>
		<string>Poppins-Bold</string>
		<string>Poppins-Medium</string>
		<string>Montserrat-Regular.ttf</string>
		<string>Montserrat-SemiBold.ttf</string>
		<string>Montserrat-Light.ttf</string>
	</array>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
		<string>location</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDarkContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
